<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Feuilles de styles #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />

        {# Fichier JS #}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>

    </head>
    <body>

        {% include '_partials/_nav.html.twig' %}
        
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                <strong>Votre compte n'est pas activé, merci de cliquer sur le lien dans le mail pour valider votre compte,</strong><a href="{{path('resend_verif')}}"> renvoyer le lien d'activation</a>                
                </div>           
            </div>
        {% endif %}

        {% include '_partials/_flash.html.twig' %}

        {% block body %}{% endblock %}

        {% include '_partials/_footer.html.twig' %}

       

    </body>
</html>
